{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}">
<title>{{artist}} @ Gitartabs.no</title>
{% endblock %}

{% block body %}
{% include "nav.html" %}
<div class="wrapper">
    <div class="wrapper">
        <div class="top-section">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Hans_Rotmo_under_Feginsfestivalen_i_Trondheim_1982._Foto_Idar_Lind..jpg" alt="">
            <section>
                <h2>{{artist}}</h2>
            </section>
        </div>
        <div class="middle-section">
            {% if results %}
            <h1>Tabs for denne artisten</h1>
            {% for hit in results %}
                    <div class="result" id="{{ hit.id }}" onclick="retrieveElement({{hit.id}})">
                        <h2 class="artist">{{ hit.artist }}</h2>
                        <h2 class="song-title">{{ hit.title }}</h2>
                        <h2 class="type">{{ hit.type }}</h2>
                        <h2 class="rating">{{ hit.rating }}</h2>
                    </div>
                {% endfor %}
                {% else %}
                <h1>Ingen tabs</h1>
            {% endif %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/search-logic.js') }}"></script>
{% endblock %}