{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/songview.css') }}">
<title>{{song.title}} av {{song.artist}} @ Gitartabs.no</title>
{% endblock %}

{% block body %}
{% include 'nav.html' %}
<div class="wrapper">
    <div class="top-section">
        <h1>{{ song.title }}</h1>
        <h4><a href="/artist?name={{song.artist}}">{{ song.artist }}</a></h4>
        <p>{{ song.rating }}</p>
        <small>Publisert av <a href="/user?username={{song.author}}">{{song.author}}</a></small>
        <small>Sist endret: {{ song.date }}</small>
    </div>
    <div class="middle-section">
        <p>
            {% if song.content %}
                {{ (song.content).replace('\n', '<br>')|safe }}
                {% else %}
Denne tabben mangler innhold. Logg deg inn for å redigere.
            {% endif %}
            <br><br><br>
        </p>
    </div>
</div>
{% endblock %}