{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}">
<title>{{user.username}} sin profil</title>
{% endblock %}

{% block body %}
{% include "nav.html" %}
<div class="wrapper">
    <div class="wrapper">
        <div class="top-section">
            <img src="https://styles.redditmedia.com/t5_8qe12/styles/profileIcon_5jkgogjwghn71.jpg?width=256&height=256&crop=256:256,smart&s=3d18aadd7cf120f900d70b53befb7e20bd1d4a25" alt="">
            <section>
                <h2>{{user.username}}</h2>
                <p id="{{ user.role }}">{{ user.role }}</p>
                <p>GT-Poeng: {{ user.gtPoints }}</p>
            </section>
        </div>
        <div class="middle-section">
            <h1>Nylig publiserte tabs</h1>
            {% for hit in results %}
                    <div class="result" id="{{ hit.id }}" onclick="retrieveElement({{hit.id}})">
                        <h2 class="artist">{{ hit.artist }}</h2>
                        <h2 class="song-title">{{ hit.title }}</h2>
                        <h2 class="type">{{ hit.type }}</h2>
                        <h2 class="rating">{{ hit.rating }}</h2>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/search-logic.js') }}"></script>
{% endblock %}